<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="card mx-auto mb-3 shadow rounded-4" style="max-width: 850px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="img-fluid rounded-start-4 h-100" src="https://images.unsplash.com/photo-1595124245030-41448b199d6d?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGVhY2h8ZW58MHx8MHx8fDA%3D">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="title">Registration Info</h2>
          <form method="POST">
            <div class="input-group">
              <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
            </div>
            <div class="input-group">
              <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
            </div>
            <div class="input-group">
              <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
            </div>
            <div class="input-group">
              <%= f.input :username,
                      required: true,
                      input_html: { autocomplete: "email" } %>
            </div>
            <div class="input-group">
              <%= f.input :image_url,
                      required: true,
                      input_html: { autocomplete: "avatar" } %>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <hr>
            <p>Already have an account?  <%= link_to "Sign up", new_registration_path(resource_name) %><br /></p>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>
