<div id="<%= dom_id favorite %>">
  <p>
    <strong>Name:</strong>
    <%= favorite.name %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= favorite.image_url %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= favorite.price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= favorite.location %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= favorite.category %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= favorite.rating %>
  </p>

</div>
