<div class="container ">
  <h1 class="d-flex justify-content-center align-items-center m-3"><%= current_user.username.capitalize %>'s Favorites</h1>
  <div class="card-container d-flex justify-content-center align-items-center flex-wrap">
    <% @favorites.each do |favorite| %>
      <div class="card d-flex justify-content-center align-items-center" style="width: 18rem; border: 1px solid #dee2e6; border-radius: 15px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);">
        <h5 class="card-title"><%= favorite.fetch("name") %></h5>
        <p><%= favorite.location %></p>
        <img class="card-img-top" style="height: 200px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;" src="<%= favorite["image_url"] %>" alt="Card image cap">
        <div class="card-body">
        <p><%= favorite.fetch("category") %></p>
        <p>Rating: <%= star_rating(favorite.rating.to_i) %></p>
        <p>Price: <%= favorite.price %></p>
          <%= button_to favorite_path(favorite), method: :delete, class: "btn btn-primary" do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
</div>
