<div></div>

<div class="card-container d-flex justify-content-center align-items-center flex-wrap">
  <% @favorite_places.each do |place| %>
    <div class="card d-flex justify-content-center align-items-center" style="width: 18rem;">
       <h5 class="card-title"><%= place.fetch("name") %></h5>
       <p><%= place.location %></p>
      <img class="card-img-top" src="<%= place["image_url"] %>" alt="Card image cap">
      <div class="card-body">
       <p><%= place.fetch("category") %></p>
       <p>Rating: <%= star_rating(place.rating.to_i) %></p>
       <p>Price: <%= place.price %></p>
        <%= button_to "delete", favorite_path(place), method: :delete, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
