<p style="color: green"><%= notice %></p>

<div id="yelp_place_<%= @favorite.yelp_id %>" class="card mx-auto mb-3 shadow rounded-4" style="max-width: 750px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="img-fluid h-100 rounded-start-4" src="<%= @favorite["image_url"] %>">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        
        <p><%= @favorite.fetch("category")%></p>
        
        <h3 class="d-flex justify-content-center align-items-center"><%= @favorite.fetch("name") %></h3>
        <p class="d-flex justify-content-center align-items-center"><%= @favorite.fetch("location") %></p>
        <h5><%= star_rating(@favorite.fetch("rating").to_i) %></h5>
        <p>Price: <%= @favorite.fetch("price") %></p>
        <p>Reviews: <%= @favorite.fetch("reviews") %> </p>

        <%= render "form", favorite: @favorite, yelp_place: @yelp_place  %>
        <div class="d-flex justify-content-center align-items-center">
          <% if !current_page?(favorite_path) %>
            <%= link_to yelp_place["url"], target: "_blank", class: "btn btn-primary" do %>
              <i class="fa-brands fa-yelp"></i> View on Yelp
            <% end %>
          <% else %>
            <%= link_to @yelp_place["url"], target: "_blank", class: "btn btn-primary" do %>
              <i class="fa-brands fa-yelp"></i> View on Yelp
            <% end %>
            <%= link_to "Back to favorites", favorites_path, class: "btn btn-secondary" %>
          <% end %>
       </div> 
      </div>
    </div>
  </div>
</div>
       
       
    
