<%= form_with url: "/search", method: :get do |form| %>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.text_field :categories %>
  </div>

  <div>
    <%= form.submit "Search" %>
  </div>
<% end %>
