<div class="card d-flex justify-content-center align-items-center" style="width: 18rem;">
  <h5 class="card-title"><%= @restaurants.fetch("name") %></h5>
  <div class="open-now-box d-flex justify-content-center gap-4">
    <p><%= @restaurants.dig("location", "city") %>, <%= @restaurants.dig("location", "state") %></p>
    <p><%= @restaurants.dig("hours", 0, "is_open_now") ? "Open" : "Closed" %></p>
  </div>
  <img class="card-img-top" style="height: 200px;" src="<%= @restaurants["image_url"] %>" alt="Card image cap">
  <div class="search-card-body">
    <p><%= @restaurants.fetch("categories").map { |c| c["title"] }.join(", ") %></p>
    <p>Rating: <%= star_rating(@restaurants.fetch("rating").to_i) %></p>
    <p>Price: <%= @restaurants.fetch("price") %></p>
    <p>Reviews: <%= @restaurants.fetch("review_count") %> </p>
    <%= form_with model: @place, url: places_path, local: true do |f| %>
      <%= f.hidden_field "place[name]", value: @restaurants["name"]%>
      <%= f.hidden_field "place[image_url]", value: @restaurants["image_url"]%>
      <%= f.hidden_field "place[price]", value: @restaurants["price"]%>
      <%= f.hidden_field "place[location]", value: "#{@restaurants["location"]["city"]}, #{@restaurants["location"]["state"]}" %>
      <%= f.hidden_field "place[category]", value: params[:categories] %>
      <%= f.hidden_field "place[rating]", value: @restaurants["rating"] %>
      <%= button_tag type: "submit", data: {"turbo": "false"}, class: "btn btn-primary" do %>
          <i class="fas fa-heart"></i> Favorite
      <% end %>
    <% end %>
  </div>
</div>
