<div class="d-flex justify-content-center align-items-center" >
  <div class="card text-center" style="width: 18rem; border: 1px solid #dee2e6; border-radius: 15px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);">
    <h5 class="card-title"><%= restaurant.fetch("name") %></h5>
    <div class="open-now-box d-flex justify-content-center gap-4">
      <p><%= restaurant.dig("location", "city") %>, <%= restaurant.dig("location", "state") %></p>
      <p><%= restaurant.dig("hours", 0, "is_open_now") ? "Open" : "Closed" %></p>
    </div>
    <img class="card-img-top" style="height: 200px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;" src="<%= restaurant["image_url"] %>" alt="Card image cap">

    <div class="search-card-body">
      <p><%= restaurant.fetch("categories").map { |c| c["title"] }.join(", ") %></p>
      <p>Rating: <%= star_rating(restaurant.fetch("rating").to_i) %></p>
      <p>Price: <%= restaurant.fetch("price") %></p>
      <p>Reviews: <%= restaurant.fetch("review_count") %> </p>
      <%= form_with model: @place, url: places_path, local: true do |f| %>
        <%= f.hidden_field "place[name]", value: restaurant["name"]%>
        <%= f.hidden_field "place[image_url]", value: restaurant["image_url"]%>
        <%= f.hidden_field "place[price]", value: restaurant["price"]%>
        <%= f.hidden_field "place[location]", value: "#{restaurant["location"]["city"]}, #{restaurant["location"]["state"]}" %>
        <%= f.hidden_field "place[category]", value: params[:categories] %>
        <%= f.hidden_field "place[rating]", value: restaurant["rating"] %>
        <%= button_tag type: "submit", data: { "turbo": "false" }, class: "btn btn-primary" do %>
          <i class="fas fa-heart"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
