<div class="search-card-container d-flex justify-content-center align-items-center flex-wrap">
  <% if @restaurants.any? %>
    <% @restaurants.each do |restaurant| %>
      <div class="card d-flex justify-content-center align-items-center" style="width: 18rem;">
        <h5 class="card-title"><%= restaurant.fetch("name") %></h5>
          <p><%= restaurant.dig("location", "city") %>, <%= restaurant.dig("location", "state") %></p>
        <img class="card-img-top" style="height: 200px;" src="<%= restaurant["image_url"] %>" alt="Card image cap">
        <div class="search-card-body">
          <p>Rating: <%= star_rating(restaurant.fetch("rating").to_i) %></p>
          <p>Price: <%= dollar_rating(restaurant.fetch("price").to_i) %></p>
          <p>Reviews: <%= restaurant.fetch("review_count") %> </p>
          <div>
              <%= form_with model: @favorite, url: favorites_path, local: true do |f| %>
                <%= f.hidden_field "place[name]", value: restaurant["name"]%>
                <%= f.hidden_field "place[image_url]", value: restaurant["image_url"]%>
                <%= f.hidden_field "place[price]", value: restaurant["price"]%>
                <%= f.hidden_field "place[location]", value: "#{restaurant["location"]["city"]}, #{restaurant["location"]["state"]}" %>
                <%= f.hidden_field "place[category]", value: params[:categories] %>
                <%= button_tag type: "submit", data: {"turbo": "false"}, class: "btn btn-primary" do %>
                    <i class="fas fa-heart"></i> Favorite
               <% end %>
               <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No restaurants match that criteria.</p>
  <% end %>
</div>
