<div id="<%= dom_id recommendation %>">
  <p>
    <strong>Price:</strong>
    <%= recommendation.price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= recommendation.location %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= recommendation.rating %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recommendation.category %>
  </p>

</div>
