<div id="yelp_place_<%= @favorite.yelp_id %>" class="card px-0 mx-auto mb-3 shadow rounded-4" style="max-width: 750px;">
  <div class="row g-0">
    <div class="col-md-4 px-0">
      <img class="show-img img-fluid h-100 rounded-start-4" src="<%= @yelp_place["image_url"] %>">
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <h3 class="d-flex justify-content-center align-items-center"><%= @yelp_place.fetch("name") %></h3>
      <p class="d-flex justify-content-center align-items-center"><%= @yelp_place.fetch("location").fetch("city") %>, <%= @yelp_place.fetch("location").fetch("state") %></p>

      <div class="d-flex justify-content-center align-items-end pb-2">
        <span class="star-rating-big align-text-baseline"><%= star_rating(@yelp_place.fetch("rating").to_i) %></span>
        <span class="space-between"></span>
        <span class="review-count-small align-baseline pb-1 ps-2"><%= @yelp_place.fetch("review_count") %> Reviews</span>
      </div>

        <div class="d-flex justify-content-end p-2">
          <p><% @yelp_place.fetch("transactions").each do |transaction|%>
          <div class="badge rounded-pill text-bg-secondary m-1"><%= transaction %></div>
          <% end %> </p>
        </div>

        <div class="show-card-details">
        <p><i class="fa-solid fa-phone"></i> <%= @yelp_place.fetch("display_phone") %></p>
        <p><%= link_to @yelp_place["url"], target: "_blank", class: "yelp_url" do %>
              <i class="fa-solid fa-utensils"></i> View on Yelp
            <% end %></p>
        <p><i class="fa-solid fa-tag"></i> <%= @yelp_place.fetch("price") %></p>
        </div>

        <hr>
        <%= render "favorites/form", favorite: @favorite, yelp_place: @yelp_place  %>
        <div class="review-body">
          <% @yelp_reviews.each do |review| %>
              <p><%= "\"#{review["text"]}\""%> <%= link_to review["url"], target: "_blank", class: "review" do %>
                see more
            <% end %></p>
            <% end %>
          </div>
        <hr>
         <div class="d-flex justify-content-center align-items-center">
          <div class="rounded">
            <p><% titles = @yelp_place.fetch("categories").map { |c| c["title"] } %></p>
            <% titles.each do |title| %>
              <div class="badge rounded-pill text-bg-secondary mr-1"><%= title %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
