<div id="yelp_place_<%= @yelp_place["id"] %>" class="card mx-auto mb-3 shadow rounded-4" style="max-width: 1150px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="img-fluid rounded-start-4" src="<%= @yelp_place["image_url"] %>">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p><%= @yelp_place.fetch("categories").map { |c| c["title"] }.join(", ") %></p>
        <p>Rating: <%= star_rating(@yelp_place.fetch("rating").to_i) %></p>
        <p>Price: <%= @yelp_place.fetch("price") %></p>
        <p>Reviews: <%= @yelp_place.fetch("review_count") %> </p>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
