<div id="<%= dom_id place %>">

  <p>
    <strong>Price:</strong>
    <%= place.price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= place.location %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= place.category %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= place.rating %>
  </p>

</div>
