<div class="card-container d-flex justify-content-center align-items-center flex-wrap">
  <% @restaurants.each do |restaurant| %>
    <div class="card d-flex justify-content-center align-items-center" style="width: 18rem;">
      <img class="card-img-top" src="<%= restaurant["image_url"] %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= restaurant.fetch("name") %></h5>
        <p><%= restaurant.dig("location", "city") %>, <%= restaurant.dig("location", "state") %></p>
        <p class="card-text">
          <%= form_tag("/places", method: "post") do %>
            <%= hidden_field_tag("place[name]", restaurant.fetch("name")) %>
          </p>
          <a href="#" class="btn btn-primary"><%= submit_tag("Favorite me") %></a>
          <% end %>
      </div>
    </div>
  <% end %>
</div>

<%# @parsed_data.each do |restaurant| %>
  <%#= form_tag("/places", method: "post") do %>
    <%#= label_tag(:name, restaurant.fetch("name")) %>
    <%#= hidden_field_tag("place[name]", restaurant.fetch("name")) %>
    <%#= submit_tag("Favorite me") %>
  <%# end %>
<!---->
<%# end %>
